<h1>Log In Below:</h1>
<form class= action="/sessions" method="post">
  <label>Email: <input type="text" name="email" value=""></label>
  <label>Password: <input type="text" name="password" value=""></label>
  <input id="submit" type="submit" name="" value="Log In">
</form>
